body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #e74c3c;
}

.question-container {
  margin-top: 20px; /* Añade espacio entre cada pregunta */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.question-container {
  margin-top: 20px; /* Añade espacio entre cada pregunta */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Agrega sombreado */
}


.animation {
  width: 50vw;
  height: 50vh;
  background: url('unnamed.gif') center center no-repeat; /* Reemplaza 'borrando.gif' con tu imagen de animación */
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  
}




@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}





.no-button:hover {
  transform: translateY(200px); /* Move 20px to the right on hover */
  transition: transform 0.2s ease-in-out; /* Smooth transition */
}



@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

button.shake {
  animation: shake 0.5s;
}
